<%= form_with(model: additionalservice, local: true) do |form| %>
  <% if additionalservice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(additionalservice.errors.count, "error") %> prohibited this additionalservice from being saved:</h2>

      <ul>
      <% additionalservice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parking_id %>
    <%= form.number_field :parking_id, id: :additionalservice_parking_id %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :additionalservice_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :additionalservice_descripcion %>
  </div>

  <div class="field">
    <%= form.label :precio_hora %>
    <%= form.text_field :precio_hora, id: :additionalservice_precio_hora %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
