<p id="notice"><%= notice %></p>

<p>
  <strong>Usertype:</strong>
  <%= @user.usertype_id %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @user.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.apellidos %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.correo %>
</p>

<p>
  <strong>Numero documento:</strong>
  <%= @user.numero_documento %>
</p>

<p>
  <strong>Tipo documento:</strong>
  <%= @user.tipo_documento %>
</p>

<p>
  <strong>Contrasenia:</strong>
  <%= @user.contrasenia %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @user.genero %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @user.fecha_nacimiento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.telefono %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
