<%= form_with(model: documenttype, local: true) do |form| %>
  <% if documenttype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(documenttype.errors.count, "error") %> prohibited this documenttype from being saved:</h2>

      <ul>
      <% documenttype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :documenttype_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
