<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @parking_history.user_id %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @parking_history.parking_id %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @parking_history.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @parking_history.fecha_fin %>
</p>

<p>
  <strong>Fecha registro:</strong>
  <%= @parking_history.fecha_registro %>
</p>

<p>
  <strong>Fecha cancelacion:</strong>
  <%= @parking_history.fecha_cancelacion %>
</p>

<p>
  <strong>Motivo cancelacion:</strong>
  <%= @parking_history.motivo_cancelacion %>
</p>

<%= link_to 'Edit', edit_parking_history_path(@parking_history) %> |
<%= link_to 'Back', parking_histories_path %>
