<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usertype_id %>
    <!-- <%= form.number_field :usertype_id, id: :user_usertype_id %> -->
    <%= form.collection_select :usertype_id, Usertype.all, :id, :nombre %>
  </div>

  <div class="field">
    <%= form.label :documenttype_id %>
    <!-- <%= form.number_field :documenttype_id, id: :user_documenttype_id %> -->
    <%= form.collection_select :documenttype_id, Documenttype.all, :id, :nombre %>
  </div>

  <div class="field">
    <%= form.label :gender_id %>
    <!-- <%= form.number_field :gender_id, id: :user_gender_id %> -->
    <%= form.collection_select :gender_id, Gender.all, :id, :nombre %>
  </div>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres, id: :user_nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos, id: :user_apellidos %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :user_correo %>
  </div>

  <div class="field">
    <%= form.label :numero_documento %>
    <%= form.number_field :numero_documento, id: :user_numero_documento %>
  </div>

  <div class="field">
    <%= form.label :contrasenia %>
    <%= form.text_field :contrasenia, id: :user_contrasenia %>
  </div>

  <div class="field">
    <%= form.label :fecha_nacimiento %>
    <%= form.datetime_select :fecha_nacimiento, id: :user_fecha_nacimiento %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :user_telefono %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
