<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Tipo Usuario</th>
      <th>Tipo Documento</th>
      <th>Número documento</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Correo</th>
      <th>Género</th>
      <th>Fecha nacimiento</th>
      <th>Teléfono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <!-- <td><%= user.usertype_id %></td>
        <td><%= user.documenttype_id %></td>
        <td><%= user.gender_id %></td> -->
        <td><%= user.usertype.nombre %></td>
        <td><%= user.documenttype.nombre %></td>
        <td><%= user.numero_documento %></td>
        <td><%= user.nombres %></td>
        <td><%= user.apellidos %></td>
        <td><%= user.correo %></td>
        <td><%= user.gender.nombre %></td>
        <td><%= user.fecha_nacimiento %></td>
        <td><%= user.telefono %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
