<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de Usuario:</strong>
  <%= @user.usertype.nombre %>
</p>

<p>
  <strong>Tipo de Documento:</strong>
  <%= @user.documenttype.nombre %>
</p>

<p>
  <strong>Numero documento:</strong>
  <%= @user.numero_documento %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @user.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.apellidos %>
</p>

<p>
  <strong>Género:</strong>
  <%= @user.gender.nombre %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.correo %>
</p>

<!-- <p>
  <strong>Contrasenia:</strong>
  <%= @user.contrasenia %>
</p> -->

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @user.fecha_nacimiento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.telefono %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
