<p id="notice"><%= notice %></p>

<h1>Parkings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Telefono</th>
      <th>Tipo estacionamiento</th>
      <th>Precio hora</th>
      <th>Imagen</th>
      <th>Departamento</th>
      <th>Ciudad</th>
      <th>Distrito</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.user_id %></td>
        <td><%= parking.nombre %></td>
        <td><%= parking.descripcion %></td>
        <td><%= parking.telefono %></td>
        <td><%= parking.tipo_estacionamiento %></td>
        <td><%= parking.precio_hora %></td>
        <td><%= parking.imagen %></td>
        <td><%= parking.departamento %></td>
        <td><%= parking.ciudad %></td>
        <td><%= parking.distrito %></td>
        <td><%= parking.direccion %></td>
        <td><%= link_to 'Show', parking %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
        <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking', new_parking_path %>
