<%= form_with(model: parking_history, local: true) do |form| %>
  <% if parking_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking_history.errors.count, "error") %> prohibited this parking_history from being saved:</h2>

      <ul>
      <% parking_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :parking_history_user_id %>
  </div>

  <div class="field">
    <%= form.label :parking_id %>
    <%= form.number_field :parking_id, id: :parking_history_parking_id %>
  </div>

  <div class="field">
    <%= form.label :fecha_inicio %>
    <%= form.datetime_select :fecha_inicio, id: :parking_history_fecha_inicio %>
  </div>

  <div class="field">
    <%= form.label :fecha_fin %>
    <%= form.datetime_select :fecha_fin, id: :parking_history_fecha_fin %>
  </div>

  <div class="field">
    <%= form.label :fecha_registro %>
    <%= form.datetime_select :fecha_registro, id: :parking_history_fecha_registro %>
  </div>

  <div class="field">
    <%= form.label :fecha_cancelacion %>
    <%= form.datetime_select :fecha_cancelacion, id: :parking_history_fecha_cancelacion %>
  </div>

  <div class="field">
    <%= form.label :motivo_cancelacion %>
    <%= form.text_field :motivo_cancelacion, id: :parking_history_motivo_cancelacion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
