<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rate.user_id %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @rate.parking_id %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @rate.comentario %>
</p>

<p>
  <strong>Puntuacion:</strong>
  <%= @rate.puntuacion %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
